.Container {
  max-width: 300px;
  width: 33.333%;
  display: flex;
  gap: 2.5rem;
}

.Numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
  width: fit-content;
  border-radius: 15px;
  padding: 0.2rem;
  background-color: rgba(217, 217, 217, 0.44);
}

.ActiveIndex {
  font-size: 18px;
  line-height: 10px;
  border-radius: 20px;
  color: white;
  background-color: rgba(74, 58, 255, 1);
}

.Index {
  font-size: 18px;
  line-height: 10px;
  border-radius: 20px;
  background-color: white;
}

.Steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
  width: fit-content;
  padding: 0.2rem;
  width: 100%;
}

.Text {
  font-weight: 600;
}

.Check {
  object-fit: cover;
}

.UnvisitedIndex {
  padding: 0.5rem;
}
