body {
  font-family: "Inter", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background: #ffff;
  overflow-x: hidden;
}

textarea {
  font-family: "Inter", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-outer-spin-button {
  display: none;
}

hr {
  width: 100%;
  height: 1px;
  background: #eceeeb;
  display: block;
  unicode-bidi: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  overflow: hidden;
  border-style: none;
}

.m-0 {
  margin: 0px;
}

.font-p {
  font-size: 1rem;
  width: fit-content;
}

.PrimaryBtn {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: capitalize;
  white-space: nowrap;
  border: none;
  gap: 5px;
  align-self: stretch;
  border-radius: 6px;
  background: #4a3aff;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.SecondaryBtn {
  display: flex;
  border: none;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-self: stretch;
  white-space: nowrap;
  border-radius: 6px;
  background: #f2f2f2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.TeriaryButton {
  border: none;
  background: transparent;
  width: fit-content;
  padding: 0;
}

.formLayout {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 50%;
}

@media screen and (max-width: 500px) and (min-width: 220px) {
  .formLayout {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .formLayout {
    width: 100%;
  }
}
