.Container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.containerStyle {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.Label {
  font-size: 16px;
}

.inputStyle {
  display: flex;
  padding: 16.041px;
  align-items: center;
  gap: 5.729px;
  border-radius: 9.166px;
  border: 1px solid #ccc;
  background: var(--White, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16.041px */
  letter-spacing: -0.802px;
}

.inputStyle:focus {
  outline: none;
}

.Resend {
  color: var(--Primary-1, #4461f2);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px; /* 200% */
}
